﻿@model WebApplication1.ViewModels.BMIData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="@Url.Action("Index")">
    @Html.DisplayNameFor(m => m.height)
    @Html.TextBoxFor(m => m.height)公分
    @Html.ValidationMessageFor(modelItem => Model.height)
    </br>
    @Html.DisplayNameFor(m => m.weight)
    @Html.TextBoxFor(m => m.weight)公斤
    @Html.ValidationMessageFor(modelItem => Model.weight)
    <input type="submit" value="送出" />
</form>
<br />
計算結果： @Model.BMI <br />
等級： @Model.level
